body 
{
    /*background-color: #afcdec;*/
    color: #DEDEDE;
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
	background: white url(/vistr/assets/img/DatosSinValidar.png) repeat	
}
h1 
{
    color: #ffffff;
    text-align:center;	
}
h2 
{
    color: #ffffff;
    text-align:center;	
}
h3 
{
    color: #ffffff;
    text-align:center;	
}
table 
{
    border: 0px;
    border-spacing:0px;
    padding:0px;	
    /*width:95%;*/	
    padding:0px;
}
a
{
    border: none;
}	
p
{
    text-align:center;
}
table.header
{
    border: 0px;
    border-spacing: 0px;
    empty-cells: show;
    /*margin-left: 2%;*/
    margin-right: 2%;
    padding: 0px;
    width: 96%;
}
table.header td.title
{
    width:50%;
    text-align:center;
}	
table.filtermenu 
{
    background: #4571a0;
    border: 1px solid gray;
    border-spacing:0px;
    color: #ffffff;
    empty-cells:show;
    font: 70%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    margin:0px;
    padding:0px;
    width:210px;
}
tr.empty
{
    height:8px;
}
td.empty
{
    width:16px;
}
td.advice
{
    color: #ff0000;
    empty-cells:show;
    font: 80%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 10pt;
}	
table.updatemenu 
{
    background: #4571a0;
    border: 1px solid gray;
    border-spacing:0px;
    color: #ffffff;
    font: 70%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    margin:0px;
    padding:0px;
    text-align:center;
    width:200px;
}
select.riverselect 
{
    width: 100px;
    /*background-color: #383838;*/
    /*color: #ffffff;*/
    font: 95%/1.4 Verdana, Arial, Helvetica, sans-serif;
    height: 2xp;
    line-height: 1;
}
input.icon
{
    width:24px;
    height:24px;
}	
img.icon
{
    width:24px;
    height:24px;
}
table.tabmenu 
{
    background: #ededed;
    border: 1px solid gray;
    border-spacing:0px;
    color: #050505;
    font: 70%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    height: 24px;
    margin:0px;
    margin-left:2%;
    margin-right:2%;
    margin-top:1%;	
    padding:0px;
    text-align:left;
    width:96%;
}
td.tab
{
    width: 128px;
}
td.final_tab
{
    text-align: right;
}
td.comment_tab
{
    text-align: left;
    font-weight:normal;	
}			
td.tab:hover
{
    background: #a9a9a9;
    color: #111111;	
}
a.tab
{
    font-weight:bold;	
    text-decoration:none;	
}			
a.tab:visited
{
    color: #050505;
    font-weight:bold;	
    text-decoration:none;	
}
a.tabicon
{
    border: none;
}		
table.list 
{
    border: 1px solid black;
    border-spacing:0px;
    color: #000000;	
    font: 75%/1 Verdana, Arial, Helvetica, sans-serif;
    /*    margin-left:2%;
        margin-right:2%;
        margin-top:1%;*/
    padding:0px;	
    width:96%;	
    padding:0px;
}
table.list th
{
    /*background-color: #7b7e8c;*/
    background-color: #739BC5;
    border: 1px solid black;
    border-spacing:0px;
    color: #ffffff;
    font: 100%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;		
}	
table.list th.warning
{
    background-color: orange;
    color: #000000;
    font: 95%/2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
}		
table.list th.alarm
{
    background-color: red;
    color: #000000;
    font: 95%/2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
}	
table.list th.sub{

    background-color: #A7C4E4;
    /*background-color: #cdcec5;*/
    color: #000000;
    font: 95%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    text-align:center;	
}
table.list th.rightborder_sub
{
    background-color: #cdcec5;
    border-left-style: dotted;
    color: #000000;
    font: 95%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    text-align:center;	
}
table.list th.leftborder_sub
{
    background-color: #cdcec5;
    border-right-style: dotted;
    color: #000000;
    font: 95%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    text-align:center;	
}			
table.list th.over_sub
{
    background-color: #9c9f9d;
    color: #ffffff;
    font: 95%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;	
    text-align:center;	
}
table.list td.leftborder_text
{
    border: 1px solid gray;
    border-spacing:0px;
    border-right-style: dotted;	
    color: black;
    padding-right: 0px;
    text-align: center;
}				
table.list tr.none
{
    background-color: #dfdfdf;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
    font-style:italic;		
    text-align: center;
}	
table.list tr.fail
{
    background-color: #A0A0A0;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.list tr.even
{
    background-color: #e3ebe0;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.list tr.odd
{
    background-color: #ffffff;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.list td
{
    /*text-align: center;*/
    border: 1px solid gray;
    border-spacing:0px;
    padding-left: 5px;

}
table.list td.status
{
    border: 1px solid gray;
    border-spacing:0px;
    padding: 0;
    text-align: center;
}
table.list td.nodata
{
    background-color: #cdcec5;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.list td.nodata_span
{
    background-color: #cdcec5;
    border: 1px solid gray;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}			
img.mini-icon
{
    width:24px;
    height:24px;
}
table.list tr.legend
{
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    font: 90%/1.2 Verdana, Arial, Helvetica, sans-serif;		
    text-align: center;
}	
table.list td.value
{
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}
table.list td.rightborder_value
{
    border: 1px solid gray;
    border-left-style: dotted;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}		
table.list td.leftborder_value
{
    border: 1px solid gray;
    border-right-style: dotted;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.warning_value
{
    background-color: orange;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.alarm_value
{
    background-color: red;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.wo_value
{
    border: 1px solid gray;
    border-spacing:0px;
    color: gray;
    padding-right: 5px;
    text-align: right;
}
table.list td.rightborder_wo_value
{
    border: 1px solid gray;
    border-left-style: dotted;	
    border-spacing:0px;
    color: gray;
    padding-right: 5px;
    text-align: right;
}	
table.list td.leftborder_wo_value
{
    border: 1px solid gray;
    border-right-style: dotted;	
    border-spacing:0px;
    color: gray;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi7rain_value
{
    background-color: #ff0000;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi6rain_value
{
    background-color: #f47200;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi5rain_value
{
    background-color: #ffa500;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi4rain_value
{
    background-color: #fff832;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi3rain_value
{
    background-color: #81ff4b;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi2rain_value
{
    background-color: #4fd018;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi1rain_value
{
    background-color: #0000ff;
    color: #ffffff;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.list td.hi0rain_value
{
    background-color: #000080;
    color: #ffffff;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}					
table.list td.date
{
    border: 1px solid gray;
    border-spacing:0px;
    padding: 0;
    text-align: center;
}		
table.list td.icon
{
    border: 1px solid gray;
    border-spacing:0px;
    margin: 0;
    text-align: center;
}	
div#chartdiv 
{
    background: white;
    width: 95%; 
    height: 800px;	
}
div#mapdiv 
{
    background: white;
    width: 95%; 
    height: 800px;	
}	
div#smallchartdiv 
{
    background: white;
    width: 95%; 
    height: 240px;	
}	
p.sign {
    font: 80%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #383838;
    margin: 0;
    padding: 0;
    color: #303030;
}
.tables_container{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px
}
table.datalist 
{
    border: 1px solid black;
    border-spacing:0px;
    color: #000000;	
    font: 75%/1 Verdana, Arial, Helvetica, sans-serif;
    margin-left:2%;
    margin-right:2%;
    margin-top:1%;
    padding:0px;	
    width: 350px;	
    padding:0px;
}
table.datalist th
{
    background-color: #7b7e8c;
    border: 1px solid black;
    border-spacing:0px;
    color: #ffffff;
    font: 100%/1 Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    height: 32px;
    text-align:center;		
}	
table.datalist tr.even
{
    background-color: #e3ebe0;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.datalist tr.odd
{
    background-color: #ffffff;
    border: 1px solid black;
    border-spacing:0px;	
    color: #000000;
    font: 93%/1.2 Verdana, Arial, Helvetica, sans-serif;
}
table.datalist td
{
    border: 1px solid gray;
    border-spacing:0px;
    padding-left: 5px;
    text-align: left;
}
table.datalist td.value
{
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}
table.datalist td.warning_value
{
    background-color: orange;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}	
table.datalist td.alarm_value
{
    background-color: red;	
    border: 1px solid gray;
    border-spacing:0px;
    padding-right: 5px;
    text-align: right;
}
table.datalist td.wo_value
{
    border: 1px solid gray;
    border-spacing:0px;
    color: gray;
    padding-right: 5px;
    text-align: right;
}					
table.datalist td.date
{
    border: 1px solid gray;
    border-spacing:0px;
    padding: 0;
    text-align: center;
}		
table.datalist td.icon
{
    border: 1px solid gray;
    border-spacing:0px;
    margin: 0;
    text-align: center;
}
div#map
{
    background-color: white;		
    border: 1px solid gray;
    border-spacing:0px;
    margin-left:2%;
    margin-right:2.3%;				
    text-align: center;	
    width:95.7%;	
}
img.map
{
    max-width:95%;
    max-height:105%;	
}

/*MY CSS*/
.header{
    background-color: #4571a0;
}
.header h1,h2{
    margin-top: 0;
}
/*MY CSS*/


.align_center{
    text-align: center;
}
.align_left{
    text-align: left;
    padding-left: 6px;
}

.align_right{
    text-align: right;
    padding-right: 6px;
}

#header-wrap {
    position: fixed;
    height: 100px;
    top: 0;
    width: 100%;
    z-index: 100;
}
#container{ 
    color: #000000;
    margin-top: 110px;
    margin-left: 2%;
    margin-right: 2%;   
}
#container_alarmas{ 
    color: #000000;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;   
}

.table_wrapper .tbody{
    /*height: 350px;*/
    overflow-y: auto;
    /*width: 97.4%;*/
    width: 96%;
}
.tbody table{border-collapse:collapse; width:100%;}

.td3{border-right-width:0;}

.table_wrapper {
    margin-bottom: 25px;
}
.table_wrapper .header{ width:400px;background:DodgerBlue;border-bottom:1px solid red;}
.table_wrapper .header div{padding:1px 5px;float:left;border-right:1px solid orange;}
.table_wrapper .header .head3{float:none;border-right-width:0;}
.table_wrapper .head3 span{padding-left:5px;}

.td1{width:100px;}
.td2{width:140px;}
.table_wrapper .header .head1{width:100px;}
.table_wrapper .header .head2{width:140px;}

.clear_both{clear:both;height:0.75em;}



.ui-dialog-title{
    color: #ffffff;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    img {
        width: 50%;
    }
    
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
img {
        width: 50%;
    }
}